    .m-general{
        background-image: url('../../components/img/fondo.jpg'); 
        background-color: #002854; /* Color de fondo azul con transparencia */
        background-blend-mode: multiply;
        max-width: 100%;
        height: 100%;
        background-size: cover;
    }
    .m-raya-blanca{
        border-top: 3px solid #ffffff;
        margin-top: -70px;
        max-width: 100%
    }
    
    .m-raya-roja{
        border-top: 45px solid #c41212;
        margin-top: -10px;
        max-width: 100%;
        padding: 0;
    }
    .pie{
        font-family: system-ui;
        color: rgb(255, 255, 255);
        margin-top: -35px;
        padding: 0;
        display: flex; /* Utilizamos flexbox para centrar */
        justify-content: center; /* Centramos horizontalmente */
        align-items: center; /* Centramos verticalmente */
        height: 100%;
    }
    .contenedor{
        display: flex;
        margin-top: 60px;
        height: 710px;
    }
    .cont-logo{
        height: 100px;
    }
    .logo{
        background-image: url('../../components/img/UCVlogo.png');
        background-size: cover;
        margin-top: 40px;
        max-width: 350px;
        height: 50px;
    }
    .icono1 {
        color: rgb(12, 12, 73); 
        font-size: 200px;
        left: 132px;;
        margin-top: 30px;
        }
    .usuario{
        margin-top: 20px;
        text-align: center;
        color: #002854;
        font-size: 30px;
        font-family: system-ui;
        font-weight: 550;
    }
    .cont-infoper{
        background-color: #ffffff;
        width: 700px;
        border-radius: 20px;
    }
    .btn-cerrar{
        color: white;
        border-radius: 10px;
        width: 200px;
        font-family: system-ui;
        font-weight: 550;
        font-size: 20px;
        padding: 10px;
        background-color: #DD0919;
        margin-top: 140px;
        margin-left: 0px;
    }
    .btn-cerrar:hover{
        background-color: #f23e58;
    }
    .btn-regresar{
        color: white;
        border-radius: 10px;
        width: 200px;
        font-family: system-ui;
        font-weight: 550;
        font-size: 20px;
        padding: 10px;
        background-color: #DD0919;
        text-align: center;
    }
    .btn-regresar:hover{
        background-color: #f23e58;
    }
    .cont-asignatura{
        background-color: rgb(255, 255, 255);
        margin-left: 40px;
        border-radius: 20px;
    }
    .cont-titulo{
        border-bottom: 1px solid #002854;
        width: 99%;
    }
    .t-1 {
        color: #DD0919;
        font-size: 20px;
        font-family: system-ui;
        font-weight: 550;
    }
    .t-2 {
        color: #002854;
        font-size: 20px;
        font-family: system-ui;
        font-weight: 550;
        align-content: center;
    }
    .cont-subtitulo{
        border-bottom: 1px solid #002854;
        width: 99%;
        font-size: 12px;
        display: flex;
        padding: 8px 15px;
    }
    .A{
        padding: 0;
        align-content: center;
        width: 80%;
    }
    .B{
        flex: 1;
        max-width: 40%;
        padding: 0;
        display: flex;
        justify-content: flex-end;
    }
    .icon{
        color: #e02525;
        font-size: 50px;
        margin-left: 100px;
    }
    .cont-icon{
        margin-top: -20px;
    }
    .name{
        font-size: 30px;
        align-content: center;
    }
    .all{
        height: 480px;
        max-width: 99%;
        display: flex;
        flex-direction: column;
    }
    .contenido-desplazable {
        margin-top: 15px;
        max-height: calc(100vh - 200px);
        padding-right: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .contenido-desplazable::-webkit-scrollbar {
        width: 10px;
    }
    .contenido-desplazable::-webkit-scrollbar-thumb {
        background-color: #002854;
        border-radius: 5px;
    }
    .contenido-desplazable::-webkit-scrollbar-thumb:hover {
        background-color: #335175;
    }
    .cont-ce{
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .lista{
        height: 204px;
        width: 95%;
        margin: 5px;
        border-radius: 10px;
        border: 1.5px solid #002854;
        border-left: 30px solid #002854;
    }
    .v-col-2 {
        display: contents;
    }
    .v-row {
        margin-left: 10px;
        margin-right: -17px;
    }
    .card1 {
        color: #002854;
        font-size: 18px;
        font-family: system-ui;
        font-weight: 550;
        padding: 10px 16px;
        padding-top: 15px;
        padding-bottom: 5px;
    }
    .card2 {
        color: #DD0919;
        font-size: 25px;
        font-family: system-ui;
        font-weight: 550;
        padding-top: 0;
    }
    .card3 {
        color: #002854;
        font-size: 18px;
        font-family: system-ui;
        font-weight: 550;
        padding-bottom: 10px;
    }
    .card4 {
        color: #DD0919;
        font-size: 18px;
        font-family: system-ui;
        font-weight: 550;
        padding-top: 0;
        padding-bottom: 12px;
    }
    .card5 {
        color: #002854;
        font-size: 18px;
        font-family: system-ui;
        font-weight: 550;
        padding-top: 9px;
        padding-left: 0;
        display: flex;
        align-items: center;
    }
    .btn-entrar {
        color: white;
        border-radius: 10px;
        width: 100px;
        font-family: system-ui;
        font-weight: 550;
        font-size: 20px;
        padding: 10px;
        background-color: #DD0919;
        text-align: center;
    }
    .btn-entrar:hover{
        background-color: #f23e58;
    }
    .btnlista {
        padding: 0;
        display: flex;
        justify-content: right;
    }
    .textlista {
        padding: 0;
        width: 90%;
    }